@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body { 
  font-family: 'Quicksand', sans-serif !important;
  background-color: #f1f5f9;
  color: #1f2937;
}
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1030;

  background-color: #4f3b2c !important;
  border-bottom: 1px solid #6b5646;
}

.navbar-brand {
  color: #f2f2f2 !important;
  font-weight: 700;
  text-decoration: none;
}

.nav-link {
  color: #b5b5b5 !important;
  font-weight: 600;
  text-decoration: none;
}

.navbar-brand:hover,
.nav-link:hover {
  color: inherit !important;
  text-decoration: none;
}

.router-link-active {
  color: #a88355 !important;
}